/* src/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C1B1B;
  padding: 10px 20px;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px; /* Adjust logo size */
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #ddd;
}

/* Hamburger menu style */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 1;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }
}


