/* Gradient Background for the Section */
.sliding-feature-cards {
 
  padding: 5px 20px;
  text-align: center;
}

/* Title Styling */
.services-title {
  font-size: 1.5rem;
  font-weight: bold;
  /* color: #ffffff; */
  margin-bottom: 10px;
}

.services-title .highlight {
  color: #ff0000; /* Red highlight */
}

.services-subtitle {
  font-size: 1rem;
  color: #dddddd;
  margin-bottom: 30px;
}

/* Swiper Container */
.swiper-container {
  padding: 20px 0;
}

/* Service Card Styling */
.service-card {
  background: #0a1d36;
  border-radius: 10px;
  padding: 18px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 250px;
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.5);
}

.service-icon {
  font-size: 3rem;
  color: #ff0000; /* Icon color */
  margin-bottom: 15px;
}

.service-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
  height: 45px;;
}

.service-description {
  font-size: 1rem;
  color: #bbbbbb;
  margin-bottom: 15px;
  height: 100px;;
}

/* Know More Button */
.know-more-button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.know-more-button:hover {
  background-color: #ffffff;
  color: #ff0000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Pagination Arrows */
.swiper-pagination .custom-arrow {
  font-size: 24px;
  color: #ffffff;
  margin: 0 15px;
  cursor: pointer;
}

.swiper-pagination .custom-arrow:hover {
  color: #ff0000;
  transition: color 0.3s ease;
}
.swiper-wrapper{
  padding-bottom: 50px;
}

@media (max-width: 480px) {
 .service-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
  height: 45px;;
}
}
@media (max-width: 768px) {
  .service-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
  height: 45px;;
}
}